<h1>Thêm bài viết</h1>
<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "lỗi") %> xảy ra:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%=  render 'form' %> <%# render đến file _form.html.erb%>
<%= link_to 'Back', articles_path %>