<template>
  <div class="hello main">
    <h1>{{ msg }}</h1>
    <button @click="changeMessage">Changes</button>
    <p>
      <router-link :to="{ path: 'login' }">Login</router-link>
    </p>
    <button @click="show = !show">Toggle</button>
    <transition name='anime'>
      <p v-if='show'>transition </p> 
      <p v-else> Animation </p> 
    </transition>
    <button @click="isShow = !isShow">Change</button>
    <transition name='anima'>
      <p v-if="_show"> Animation </p> 
    </transition>
  </div>
</template>

<script>
  export default {
    name: "HelloWorld",
    data () {
      return {
        msg: "Hello vueJS",
        show: true,
        isShow: true
      }
    },
    methods: {
      changeMessage: function(){
        console.log('show')
        this.msg = "My change"
      }
    },
    computed(){
      
    }
  
  }
</script>
<style>
  .anime-enter-active,.anime-leave-active {
    color: red;
    opacity: .5;
    transition: opacity .5s;
  }

  .anima-enter-active {
      animation: anime 0.5s
  }
  @keyframes anime {
      0% {
          transform: scale(0)
      }
      50% {
          transform: scale(2)
      }
      100% {
          transform: scale(1)
      }
  }
</style>


