<template>
    <div>
        <h3>{{msg}}</h3>
        <table border="1" celpading='10' class="table">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Username</td>
                <td>Password</td>
                <td>Status</td>
                <td>Actions</td>                
            </tr>
            <tr v-for="user in list_users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td> 
                    <p v-if="user.status == 1"> Show</p>
                    <p v-else> Hide</p>
                </td>
                <td> <button @click="addUser">Add</button> </td>
            </tr>
            <tr>
                <td>Total</td>
                <td colspan="4">{{ totals }}</td>
            </tr>
        </table>
    </div>
</template>
<script>
    import list_users from '../data/users.json'
    var users = []
    export default {
        name: 'ListUsers',
        data () {
            return {
                list_users: list_users,
                totals: 0
                
            }
        },
        methods: {
            addUser: function(){
                this.totals += 1
            }
        },
        props: {
            msg: {
                type: String
            }
        }
        
    }
</script>