<template>
    <div>
        <ListUsers msg = "Danh sach thanh vien" />
        <Hello />
        <table>
            <tr>
                <td>username: </td>
                <td><input type="text" placeholder="enter your username" v-model='username'><span>{{username}}</span></td>
                
            </tr>
            <tr>
                <td>password: </td>
                <td><input type="password" placeholder="enter your password" v-model='password' v-on:keyup.enter='login'><span>{{password}}</span></td>
            </tr>
            <tr>
                <td></td>
                <td><button @click='login'>Login</button>  </td>
            </tr>
        </table>
    </div>
</template>

<script>
import list_users from '../data/users.json'
import router from '../router'
import Hello from './HelloWorld'
export default {
    name: 'FormLogin',
    components: {
        Hello
    },
    data () {
        return {
            username: '',
            password: '',
            list_users: list_users,
                totals: 0
        }
    },
    methods: {
        login: function(){
            let user = {
                username: this.username,
                password: this.password
            }
            this.checkLogin(user)
        },
        checkLogin: function(user){
            var data = this.list_users.find(item => item.username === user.username)
            if(data == undefined){
                alert("Tên đăng nhập không đúng")
            }else{
                if(user.password != data.password){
                    alert("Mật khẩu không đúng")
                }else{
                    alert("Đăng nhập thành công")
                    console.log(this.$router)
                   
                    router.push({ name: "home"})
                }
            }
        }
    }
}
</script>
