* {
    margin: 0;
    padding: 0;
}
input, button {
    padding: 10px;
    margin: 10px 0px;
}
button {
    cursor: pointer;
}
.main   {
    width: 1170px;
    margin: auto
}
.table tr:first-child {
    background: gray;
    color: #fff;
}
td {
    padding: 10px;
}
