<!DOCTYPE html>
<html lang="en" ng-app="my_module"> <!-- Sử dụng module nhờ ng-app -->
<head>
    <meta charset="UTF-8">
    <title>Lập trình AngularJS</title>

    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="js/app.js"></script> <!-- Chèn file app.js -->
</head>
<body ng-controller="my_controller"> <!-- Sử dụng controller nhờ ng-controller -->
    <h2>Welcome: {{ hello}}</h2>

    <input type="text" ng-model="mytext">
    <p>Dữ liệu nhập trong input: <b>{{ mytext }} </b></p> 
    <h2>Filer trong angularjs</h2>
    <p>currency: {{ 100 | currency}}</p>
    <p>date:  {{ 1512645860752 | date: 'dd-MM-yyyy' }} </p>
    <p>json: {{ {id: 1, name: 'hoang'} | json }}</p>
    <p>limitTo: {{ [0,1,2,3,4] | limitTo:3}}</p>
    <p>lowercase: {{ 'Le Van Hoang' | lowercase}}</p>
    <p>uppercase: {{ 'Lee Van Hoang' | uppercase }}</p>
    <p>number: {{ 123.3445 | number:2 }}</p> <!-- lay sau dau ',' 2 chu so  -->
    
    <p>orderBy: </p><ul ng-init="users = [{id: 1, name: 'le'}, {id: 5, name: 'tao'}, {id: 2,name: 'lai'}]">
        <li ng-repeat="x in users | orderBy : 'id'">{{ x }}</li>
    </ul>

    <!-- router -->
    <a href="#!hanoi">Ha Noi</a>
    <a href="#!namdinh">Nam Dinh</a>
    <div ng-view>
        <!-- noi hien thi template -->
    </div>

    <p>{{greeting.content}}</p>
</body>
</html>