<% content_for :css do %>
    <style>
        h1 {
            color: red;
        }
    </style>
<% end %>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% content_for :body do %>
    <h3>Nội dung cho yield :body</h3>
<% end %>