<!DOCTYPE html>
<html>
  <head>
    <title>DemoRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
  </head>

  <body>
    <h1>Hello ruby on rails </h1>
    <%= yield %>
    <%= yield :body %>
  </body>
</html>
