<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lập trình EJS</title>
</head>
<body>
    <%- include layout/header.ejs %> <!-- Sử dụng layout header -->
    <%- include layout/footer %> <!-- Sử dụng layout footer -->
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
        </tr>
        <% data.forEach( item => { %> <!-- data được lấy qua render -->
            <tr>
                <td><%= item.id%></td>
                <td><%= item.name%></td>
                <td><%= item.email%></td>
            </tr>
        <% }) %>
    </table>

    <!-- EJS có cú pháp giống javascript -->
    <%
        function hello() { // tạo function
            return "Hello EJS"
        }
    %>
    <!-- Xuất dữ liệu -->
    <h2><%= hello() %></h2>
</body>
</html>