<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="main">
		<h1>Hello word</h1>
	    <form action="" method="post">
	    	<p>Full name: <input type="text" placeholder="Full name" name="fullname"></p>
	    	<p>Username: <input type="text" placeholder="username" name="username"></p>
	    	<p>Password: <input type="password" placeholder="password" name="password"></p>
	    	<p><input type="submit" value="submit"></p>
	    </form>

	</div>
</body>
</html>