<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo socket.io</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- public/css -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!-- cdn jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script><!-- cdn socket.io -->
</head>
<body>
    <div class="main">
        <input type="text" placeholder="Nhập tên" id="name">
        <button>Submit</button>

        <div class="log"></div><!-- end log -->
    </div><!-- end main -->
    
    <script>
        var base_socket = 'http://localhost:3000'
        var socket = io(base_socket); // kết nối socket với base url
        
        // gửi emit sang server
        $('button').click(function(){
            var name = $('#name').val();
            socket.emit('hello', {name: name}); // gửi data sang server với key: 'hello'
        })

        // nhận dữ liệu từ server
        socket.on('say to all', data => {
            console.log(data);
        })

        socket.on('myself', data => {
            console.log(data);
        })
    </script>
</body>
</html>