<!DOCTYPE html>
<html lang="en" ng-app="myApp"> <!-- moudle angular -->
<head>
    <meta charset="UTF-8">
    <title>Demo socket.io</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- public/css -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script><!-- cdn angular -->
</head>
<body ng-controller="myController"> <!-- controller angular -->
    <div class="main">
        <h1>Danh sach thanh user</h1>
        <table border="1" cellpadding='10'>
            <tr>
                <td>ID</td>
                <td>fullname</td>
                <td>username</td>
                <td>password</td>
            </tr>
            <tr ng-repeat="u in users"> <!-- users duoc lay tu $scope.users --> 
                <td>{{u._id}}</td>
                <td>{{u.fullname}}</td>
                <td>{{u.username}}</td>
                <td>{{u.password}}</td>
            </tr>
        </table>
    </div><!-- end main -->
    
    <script>
        var app = angular.module('myApp', []); // moudle angular
        app.controller('myController', ['$http', '$scope', ($http, $scope) => { // controller angular
            // lấy danh sách user
            $http.get('/list_users').then( res => { // gọi đến router /list_users
                console.log(res); // xem log tren trinh duyet
                $scope.users = res.data.users;
            });
        }]);
    </script>
</body>
</html>