* {
    margin: 0;
    padding: 0;
}

.table tr:first-child {
    background: gray;
    color: #fff;
}
td {
    padding: 10px;
}
button {
    cursor: pointer;
    padding: 10px;
}
input {
    padding: 10px;
}
.none {
    display: none
}