<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/index.css"></style>
</head>
<body>
    <div class="app">{{message}}</div>
    <div class="app1">
        <p>Test v-bind</p>
        <span v-bind:title='message'>
            Using tooltip with v-bind on Vue
        </span>
    </div>

    <div class="app2">
        <h2>Using v-for</h2>
        <table border="1" celpading='10' class="table">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Status</td>
                <td>Actions</td>
            </tr>
            <tr v-for="user in list_users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td> 
                    <p v-if="user.status == 1"> Show</p>
                    <p v-else> Hide</p>
                </td>
                <td> <button @click="addUser">Add</button> </td>
            </tr>
            <tr>
                <td>Total</td>
                <td colspan="4">{{ totals }}</td>
            </tr>
        </table>
    </div>

    <div class="login">
        <table>
            <tr>
                <td>username: </td>
                <td><input type="text" placeholder="enter your username" v-model='username'><span>{{username}}</span></td>
               
            </tr>
            <tr>
                <td>password: </td>
                <td><input type="password" placeholder="enter your password" v-model='password'><span>{{password}}</span></td>
            </tr>
            <tr>
                <td></td>
                <td><button @click='signup'>Signup</button>  </td>
            </tr>
        </table>
        <div class="user_info none">
            <p>
                <strong>Usernane: </strong> <span>{{username}}</span>
            </p>
            <p>
                <strong>Password: </strong> <span>{{password}}</span>
            </p>
        </div>
    </div>
    <div class="my_div">
        <my-div></my-div>
    </div>

    <script type="text/javascript" src="./libs/vue.js"></script>
    <script type="text/javascript" src="./assets/js/app.js"></script>
    <script type="text/javascript" src="./assets/js/components/menu.js"></script>
</body>
</html>